extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Lorem daata data data. Data lorem impsum.
            a.btn.btn-primary-btn.btn-lg(href='#') Learn More &raquo;
    .container
        .row
            .col-md-4
                    h2 About Us
                    p My name is Han Solo.
                    a.btn.btn-default(href='#') View Details
            .col-md-4
                    h2 Services
                    p My name is Han Solo.
                    a.btn.btn-default(href='#') View Details
            .col-md-4
                    h2 Get in Touch
                    p My name is Han Solo.
                    a.btn.btn-default(href='#') View Details
